In [26]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder , OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from imblearn.over_sampling import RandomOverSampler
from sklearn.ensemble import RandomForestClassifier 
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score

In [8]:
# Reading the dataset 

df=pd.read_csv('churn.csv')
df

,Unnamed: 0,state,area.code,account.length,voice.plan,voice.messages,intl.plan,intl.mins,intl.calls,intl.charge,...,day.calls,day.charge,eve.mins,eve.calls,eve.charge,night.mins,night.calls,night.charge,customer.calls,churn
0,1,KS,area_code_415,128,yes,25,no,10.0,3,2.70,...,110,45.07,197.4,99,16.78,244.7,91,11.01,1,no
1,2,OH,area_code_415,107,yes,26,no,13.7,3,3.70,...,123,27.47,195.5,103,16.62,254.4,103,11.45,1,no
2,3,NJ,area_code_415,137,no,0,no,12.2,5,3.29,...,114,41.38,121.2,110,10.30,162.6,104,7.32,0,no
3,4,OH,area_code_408,84,no,0,yes,6.6,7,1.78,...,71,50.9,61.9,88,5.26,196.9,89,8.86,2,no
4,5,OK,area_code_415,75,no,0,yes,10.1,3,2.73,...,113,28.34,148.3,122,12.61,186.9,121,8.41,3,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,HI,area_code_408,50,yes,40,no,9.9,5,2.67,...,127,40.07,223,126,18.96,297.5,116,13.39,2,no
4996,4997,WV,area_code_415,152,no,0,no,14.7,2,3.97,...,90,31.31,256.8,73,21.83,213.6,113,9.61,3,yes
4997,4998,DC,area_code_415,61,no,0,no,13.6,4,3.67,...,89,23.9,172.8,128,14.69,212.4,97,9.56,1,no
4998,4999,DC,area_code_510,109,no,0,no,8.5,6,2.30,...,67,32.1,171.7,92,14.59,224.4,89,10.10,0,no
4999,5000,VT,area_code_415,86,yes,34,no,9.3,16,2.51,...,102,22,267.1,104,22.70,154.8,100,6.97,0,no

In [11]:
df.head()

,Unnamed: 0,state,area.code,account.length,voice.plan,voice.messages,intl.plan,intl.mins,intl.calls,intl.charge,...,day.calls,day.charge,eve.mins,eve.calls,eve.charge,night.mins,night.calls,night.charge,customer.calls,churn
0,1,KS,area_code_415,128,yes,25,no,10.0,3,2.70,...,110,45.07,197.4,99,16.78,244.7,91,11.01,1,no
1,2,OH,area_code_415,107,yes,26,no,13.7,3,3.70,...,123,27.47,195.5,103,16.62,254.4,103,11.45,1,no
2,3,NJ,area_code_415,137,no,0,no,12.2,5,3.29,...,114,41.38,121.2,110,10.30,162.6,104,7.32,0,no
3,4,OH,area_code_408,84,no,0,yes,6.6,7,1.78,...,71,50.9,61.9,88,5.26,196.9,89,8.86,2,no
4,5,OK,area_code_415,75,no,0,yes,10.1,3,2.73,...,113,28.34,148.3,122,12.61,186.9,121,8.41,3,no

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      5000 non-null   int64
 1   state           5000 non-null   object
 2   area.code       5000 non-null   object
 3   account.length  5000 non-null   int64
 4   voice.plan      5000 non-null   object
 5   voice.messages  5000 non-null   int64
 6   intl.plan       5000 non-null   object
 7   intl.mins       5000 non-null   float64
 8   intl.calls      5000 non-null   int64
 9   intl.charge     5000 non-null   float64
 10  day.mins        5000 non-null   float64
 11  day.calls       5000 non-null   int64
 12  day.charge      5000 non-null   object
 13  eve.mins        5000 non-null   object
 14  eve.calls       5000 non-null   int64
 15  eve.charge      5000 non-null   float64
 16  night.mins      5000 non-null   float64
 17  night.calls     5000 non-null   int64
 18  night.charge    5000 non-null   float64
 19  customer.calls  5000 non-null   int64
 20  churn           5000 non-null   object
dtypes: float64(6), int64(8), object(7)
memory usage: 820.4+ KB

In [12]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,5000.0,2500.500000,1443.520003,1.0,1250.75,2500.50,3750.25,5000.00
account.length,5000.0,100.258600,39.694560,1.0,73.00,100.00,127.00,243.00
voice.messages,5000.0,7.755200,13.546393,0.0,0.00,0.00,17.00,52.00
intl.mins,5000.0,10.261780,2.761396,0.0,8.50,10.30,12.00,20.00
intl.calls,5000.0,4.435200,2.456788,0.0,3.00,4.00,6.00,20.00
intl.charge,5000.0,2.771196,0.745514,0.0,2.30,2.78,3.24,5.40
day.mins,5000.0,180.288900,53.894699,0.0,143.70,180.10,216.20,351.50
day.calls,5000.0,100.029400,19.831197,0.0,87.00,100.00,113.00,165.00
eve.calls,5000.0,100.191000,19.826496,0.0,87.00,100.00,114.00,170.00
eve.charge,5000.0,17.054322,4.296843,0.0,14.14,17.09,19.90,30.91
night.mins,5000.0,200.391620,50.527789,0.0,166.90,200.40,234.70,395.00
night.calls,5000.0,99.919200,19.958686,0.0,87.00,100.00,113.00,175.00
night.charge,5000.0,9.017732,2.273763,0.0,7.51,9.02,10.56,17.77
customer.calls,5000.0,1.570400,1.306363,0.0,1.00,1.00,2.00,9.00

In [38]:
df1 = df.copy()
df1["day.charge"] = df1["day.charge"].astype("float64")
df1["eve.mins"]= df1["eve.mins"].astype("float64")

In [39]:
df1.isnull().sum()

Unnamed: 0         0
state              0
area.code          0
account.length     0
voice.plan         0
voice.messages     0
intl.plan          0
intl.mins          0
intl.calls         0
intl.charge        0
day.mins           0
day.calls          0
day.charge         7
eve.mins          24
eve.calls          0
eve.charge         0
night.mins         0
night.calls        0
night.charge       0
customer.calls     0
churn              0
dtype: int64

In [40]:
df1.dropna(inplace = True)

In [41]:
df1.drop(df1.columns[[0, 1, 2, 3]], axis=1, inplace=True)
df1

,voice.plan,voice.messages,intl.plan,intl.mins,intl.calls,intl.charge,day.mins,day.calls,day.charge,eve.mins,eve.calls,eve.charge,night.mins,night.calls,night.charge,customer.calls,churn
0,yes,25,no,10.0,3,2.70,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,1,no
1,yes,26,no,13.7,3,3.70,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,1,no
2,no,0,no,12.2,5,3.29,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,0,no
3,no,0,yes,6.6,7,1.78,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,2,no
4,no,0,yes,10.1,3,2.73,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,3,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,yes,40,no,9.9,5,2.67,235.7,127,40.07,223.0,126,18.96,297.5,116,13.39,2,no
4996,no,0,no,14.7,2,3.97,184.2,90,31.31,256.8,73,21.83,213.6,113,9.61,3,yes
4997,no,0,no,13.6,4,3.67,140.6,89,23.90,172.8,128,14.69,212.4,97,9.56,1,no
4998,no,0,no,8.5,6,2.30,188.8,67,32.10,171.7,92,14.59,224.4,89,10.10,0,no
4999,yes,34,no,9.3,16,2.51,129.4,102,22.00,267.1,104,22.70,154.8,100,6.97,0,no

In [42]:
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
df1['churn']=LE.fit_transform(df1['churn'])

In [43]:
df1=pd.get_dummies(df1,columns=['voice.plan','intl.plan'], drop_first=True)
df1

,voice.messages,intl.mins,intl.calls,intl.charge,day.mins,day.calls,day.charge,eve.mins,eve.calls,eve.charge,night.mins,night.calls,night.charge,customer.calls,churn,voice.plan_yes,intl.plan_yes
0,25,10.0,3,2.70,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,1,0,1,0
1,26,13.7,3,3.70,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,1,0,1,0
2,0,12.2,5,3.29,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,0,0,0,0
3,0,6.6,7,1.78,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,2,0,0,1
4,0,10.1,3,2.73,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,3,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,40,9.9,5,2.67,235.7,127,40.07,223.0,126,18.96,297.5,116,13.39,2,0,1,0
4996,0,14.7,2,3.97,184.2,90,31.31,256.8,73,21.83,213.6,113,9.61,3,1,0,0
4997,0,13.6,4,3.67,140.6,89,23.90,172.8,128,14.69,212.4,97,9.56,1,0,0,0
4998,0,8.5,6,2.30,188.8,67,32.10,171.7,92,14.59,224.4,89,10.10,0,0,0,0
4999,34,9.3,16,2.51,129.4,102,22.00,267.1,104,22.70,154.8,100,6.97,0,0,1,0

In [44]:
df1['churn'].value_counts()

0    4264
1     705
Name: churn, dtype: int64

In [46]:
X= df1.drop('churn', axis =1)
Y= df1.churn

In [47]:
X

,voice.messages,intl.mins,intl.calls,intl.charge,day.mins,day.calls,day.charge,eve.mins,eve.calls,eve.charge,night.mins,night.calls,night.charge,customer.calls,voice.plan_yes,intl.plan_yes
0,25,10.0,3,2.70,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,1,1,0
1,26,13.7,3,3.70,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,1,1,0
2,0,12.2,5,3.29,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,0,0,0
3,0,6.6,7,1.78,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,2,0,1
4,0,10.1,3,2.73,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,3,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,40,9.9,5,2.67,235.7,127,40.07,223.0,126,18.96,297.5,116,13.39,2,1,0
4996,0,14.7,2,3.97,184.2,90,31.31,256.8,73,21.83,213.6,113,9.61,3,0,0
4997,0,13.6,4,3.67,140.6,89,23.90,172.8,128,14.69,212.4,97,9.56,1,0,0
4998,0,8.5,6,2.30,188.8,67,32.10,171.7,92,14.59,224.4,89,10.10,0,0,0
4999,34,9.3,16,2.51,129.4,102,22.00,267.1,104,22.70,154.8,100,6.97,0,1,0

In [48]:
Y

0       0
1       0
2       0
3       0
4       0
       ..
4995    0
4996    1
4997    0
4998    0
4999    0
Name: churn, Length: 4969, dtype: int32

In [49]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)

In [50]:
RS=RandomOverSampler()
X_train_rs, Y_train_rs = RS.fit_resample(X_train,Y_train)

In [51]:
print(X.shape, X_train_rs.shape, X_test.shape)

(4969, 16) (6822, 16) (994, 16)

In [52]:
print(Y.shape,Y_train_rs.shape,Y_test.shape)

(4969,) (6822,) (994,)

In [53]:
RFC=RandomForestClassifier()

In [54]:
# training the Random Forest Cassifier 


model=RFC.fit(X_train_rs,Y_train_rs)

In [56]:
# accuracy score on the training data


X_train_prediction = RFC.predict(X_train_rs)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train_rs)

In [58]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  1.0

In [59]:
# accuracy score on the test data


X_test_prediction = RFC.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [60]:
print('Accuracy score of the training data : ', test_data_accuracy)

Accuracy score of the training data :  0.9587525150905433

In [67]:
input_data = (30,10,3,2.5,250,120,35.5,195,100,16,220,95,10,4,1,1)

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = RFC.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 0):
  print('The person has not churned')
else:
  print('The person has churned')

[0]
The person has not churned

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [69]:
import pickle

In [71]:
filename = 'model.pkl'
pickle.dump(RFC,open(filename,'wb'))

In [74]:
# Loading the saved model 

loaded_model = pickle.load(open('model.pkl','rb'))

In [77]:
input_data = (50,10,30,2.5,210,120,35.5,19.5,100,156,220,95,110,4,10,1)

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = loaded_model.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 0):
  print('The person has not churned')
else:
  print('The person has churned')

[0]
The person has not churned

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(